.shipping-form{
    margin-right: 50%;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    border: 2px solid #634e45;
    border-radius: 0.5em;
    width: 300px;
    height: 380px;
    padding: 10px;
}
.payment-card{
    margin-top: 20px;
}
.payment-card h4, .payment-card h6{
    color:#634e45 ;
}