.carousel-item img{
    height: 550px;
}
.carousel-caption{
    margin-bottom: 100px;
}
.carousel-caption h6{
    font-size:100px;
}
.btn-prime{
    background-color:#634e45;
    color: white;
}
@media (max-width: 600px) {
    .carousel-caption h6{
        font-size:60px;
    }
}